<a href="https://colab.research.google.com/github/falsefoobar/CS381/blob/main/Text_Processing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Text Processing
MatthewFried Assignment

For the first 5 problems use the following data

"555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Sco\
tt555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

1. Extract the numbers

In [ ]:
import re

text = f"555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

regex = r'\d+'

numbers_list = re.findall(regex, text)

print(numbers_list)

['555', '1239', '636', '555', '0113', '555', '6542', '555', '8904', '636', '555', '3226', '5553642']

2. Extract the names

In [2]:
import re

text = f"555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

regex = r"[A-Za-z\.]+"

name_list = re.findall(regex, text)

print(name_list)

['Dr.', 'Bernard', 'Lander', 'Hollingdorp', 'Donnatella', 'Fitzgerald', 'F.', 'Scott', 'Rev.', 'Martin', 'Luther', 'King', 'Snodgrass', 'Theodore', 'Carlamina', 'Scarfoni']

3. Rearrange the vector so that all elements conform to the standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.

In [15]:
import re
import numpy as np

text = f"555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

regex = r"[A-Za-z\.]+"

name_list = re.findall(regex, text)
names = np.array([
                 name_list[0] + " " + name_list[1] + " " + name_list[2],
                 name_list[3] + " " + name_list[4],
                 name_list[5] + " " + name_list[6] + " " + name_list[7],
                 name_list[8] + " " + name_list[9] + " " + name_list[10] + " " + name_list[11],
                 name_list[12] + " " + name_list[13],
                 name_list[14] + " " + name_list[15]
                 ])
print(names)

['Dr. Bernard Lander' 'Hollingdorp Donnatella' 'Fitzgerald F. Scott'
 'Rev. Martin Luther King' 'Snodgrass Theodore' 'Carlamina Scarfoni']

4. Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.)

In [25]:
import re
import numpy as np

text = f"555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

regex = r"[A-Za-z\.]+"

name_list = re.findall(regex, text)
names = np.array([
                 name_list[0] + " " + name_list[1] + " " + name_list[2],
                 name_list[3] + " " + name_list[4],
                 name_list[5] + " " + name_list[6] + " " + name_list[7],
                 name_list[8] + " " + name_list[9] + " " + name_list[10] + " " + name_list[11],
                 name_list[12] + " " + name_list[13],
                 name_list[14] + " " + name_list[15]
                 ])
hasTitle = []
for name in names:
    if re.search(r'(Dr\.|Rev\.)', name):
        hasTitle.append(True)
    else:
        hasTitle.append(False)

print(hasTitle)

[True, False, False, True, False, False]

5. Construct a logical vector indicating whether a character has a middle/second name.

In [29]:
import re
import numpy as np

text = f"555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

regex = r"[A-Za-z\.]+"

name_list = re.findall(regex, text)
names = np.array([
                 name_list[0] + " " + name_list[1] + " " + name_list[2],
                 name_list[3] + " " + name_list[4],
                 name_list[5] + " " + name_list[6] + " " + name_list[7],
                 name_list[8] + " " + name_list[9] + " " + name_list[10] + " " + name_list[11],
                 name_list[12] + " " + name_list[13],
                 name_list[14] + " " + name_list[15]
                 ])
hasTitle = []
hasMiddle = []
for name in names:
    part = name.split()
    if re.search(r'(Dr\.|Rev\.)', name):
        hasTitle.append(True)
        if len(part) > 3:
          hasMiddle.append(True)
        else:
          hasMiddle.append(False)
    else:
        hasTitle.append(False)
        if len(part) > 2:
          hasMiddle.append(True)
        else:
          hasMiddle.append(False)





print(hasTitle)
print(hasMiddle)

[True, False, False, True, False, False]
[False, False, True, True, False, False]

6. Consider the HTML string <title>+++BREAKING NEWS+++<title>. We would like to extract the first HTML tag (i.e., “<title>”). To do so we write the regular expression “<.+>”. Explain why this fails and correct the expression.

This expression fails because the dot gives us any character and the + gives us any character one or more. It will give us all tags. To get the correct tag you can maybe use `^<title>.*?</title>`

7. Consider the string “(5-3)^2=5^2-2*5*3+3^2”. We would like to extract the equation in its entirety from the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.

The carrot in the brackets would give us characters NOT the following. I would take out the carrotsymbol and use `[0-9=+\-*()^]+`